<div class="row">
  <div class="col">
    <div class="container">

      <div class="row">
        <div class="col-sm-6">
          <h3>Recent Posts</h3>
          {% include posts_list.html limit=5 %}
        </div>

        <div class="col-sm-6">
          <h3>Personal Bests</h3>
          <ul>
            <li>David - 1m:5:18, 5k:17:32, 5m:30:01, 10k:36:44, 10m:1:01:56, 13.1m:1:23:47, 26.2m:3:09:09, Standard distance tri: 2:09:57, Middle distance tri: 4:28:01, Ironman:9:59:55</li>
          </ul>
          <ul>
            <li>Sharon - 5k:25:22, 10k:54:45, 8m:1:23:47, 10m:1:32:27, 13.1m:2:08:26, 26.2m:4:46:36</li>
          </ul>
        </div>

      </div>

      <div class="row">
        <div class="col text-center text-muted small">
          &copy; David &amp; Sharon Rowe - rowerunning.co.uk
        </div>
      </div>

    </div>
  </div>
</div>
