<!-- _includes/image_aligned.html -->
<!-- based on https://stackoverflow.com/a/51682829 -->
<p
    {% if include.class %}
      class="{{ include.class }}"
    {% endif %}
    
    {% if include.style %}
      style="{{ include.style }}"
    {% endif %}
>
{% if include.url %}
    <a href="{{ include.url }}">
    {% endif %}
    <img
        {% if include.srcabs %}
            src="{{ include.srcabs }}"
        {% else %}
            src="{{ site.baseurl }}{{ include.src }}"
        {% endif %}

        {% if include.image-style %}
            style="{{ include.image-style }}"
        {% endif %}
    alt="{{ include.alt }}">
    {% if include.url %}
    </a>
    {% endif %}
    {% if include.caption %}
        <em>{{ include.caption }}</em>
    {% endif %}
</p>
