<article itemscope itemtype="http://schema.org/BlogPosting">
  {% if page.type == "home" and site.excerpts %}
    <h2 itemprop="headline">{{ include.post.title }}</h2>
  {% else %}
    <h1 itemprop="headline">{{ include.post.title }}</h1>
  {% endif %}

{% if include.post.author %}
{% endif %}


  <p itemprop="description">{% if include.post.author %}By 
    <span itemprop="author">{% capture titlecase %}
    {% for word in include.post.author %}
      {{ word | capitalize }}{% if forloop.rindex > 1 %} and {% endif %}
    {% endfor %}{% endcapture %}
  {{ titlecase }}
    </span> on {% endif %}<time itemprop="datePublished" datetime="{{ include.post.date | date_to_xmlschema }}">{{ include.post.date | date: site.date_format }}</time>{% if include.post.updated %}. Last updated on <time itemprop="dateModified" datetime="{{ include.post.updated | date_to_xmlschema }}">{{ include.post.updated | date: site.date_format }}</time>{% endif %}{% if include.post.comments %}. <a href="{{ include.post.url | relative_url }}#disqus_thread" data-disqus-identifier="{{ include.post.url | relative_url }}"></a>{% endif %}</p>
    <div itemprop="articleBody">
    {% if page.type == "home" and site.excerpts %}
      {{ include.post.excerpt | markdownify }}
      <p><a href="{{ post.url }}">Read more&hellip;</a></p>
    {% else %}
      {{ include.post.content | markdownify }}
    {% endif %}
  </div>
  <p>{% include post_tags.html post=include.post %}</p>


  <div class="row mb-3">
  <div class="col-6">
    {% if page.previous.url %}
      <a href="{{page.previous.url}}" type="button" class="btn btn-secondary">&laquo; {{page.previous.title}}</a>
    {% endif %}
  </div>
  <div class="col-6">
    {% if page.next.url %}
      <a href="{{page.next.url}}" type="button" class="btn btn-secondary float-right">{{page.next.title}} &raquo;</a>
    {% endif %}
  </div>
  </div>

</article>
