---
title: "Kona Diaries 2013 - Day 4 - Pool swimming and a test run"
date: "2013-09-22"
categories: 
  - "david"
  - "ironman-hawaii"
  - "kona-diaries-2013"
author: 
  - "david"
---

Saturday it was a 5:40am wake up. Actually, I don't mind this. It starts to get light shortly after 6am and it's nice to enjoy the 12-13 hours of daylight each day. A catch up with Sharon on Skype (having wi-fi where I'm staying is fantastic for staying in touch) and then I popped into town for a little walkabout with the camera.

I'll see all the sights properly when Sharon gets here. I've also avoided showing her the view from the condo etc. on our Skype chats else it won't be as exciting when she gets here. Which cannot come soon enough (and I'm not saying that just because the dirty washing is piling up!!).

After yesterdays return to reasonable training (er, I should really be thinking about tapering soon but to be honest I've got nothing to taper from!) I now need to build some fitness to take me into the race. It's not the perfect scenario but I'd rather be a little tired on the start line than completely unfit having done next to nothing for two months. Remember, all I have to do is complete the race and Get That Medal! That's all I want to do.

After breakfast I headed to the Kona Community Aquatic Center. I knew there was a swimming pool in Kona after seeing it in the [superb film about triathlete Dirk Bockel](http://www.liveandlettri.com/watch-my-imkona-documentary-now-with-english-subtitles/) a couple of weeks ago. This pool is amazing. It opens at 6:15 in the morning, it's free to get in, it's heated, there's lifeguards on duty, there's hot showers and toilets and it had multiple 25 yard lanes. I had a lane to myself for the duration of my hour long swim. I somehow suspect that the place will be rammed with triathletes in a fortnight but right now it was bliss (I can't believe I've just written that about a swimming pool).

![20130921-3490](/images/2013/20130921-3490.jpg)

The day before I left England to come out here I visited the physio at St. Mary's Clinic and we chatted about what I could try and do to get me ready for the race without breaking myself any more! The plan was to do a couple of easy 15 minute runs a couple of days after arriving - with a day off in-between. If the foot seems to be holding up then the plan is to do a solid 45-60 minute run. No easy bimbling - some reasonably intensive effort. Well, lets walk before I run...

After leaving the pool I headed round the corner to the [Old Kona Airport State Recreation Area](http://www.hawaiistateparks.org/parks/hawaii/oldkona.cfm) as they have a 'jogging path.' That sounded ideal. And it was. I ran for 15 minutes. My foot didn't hurt any more than usual. Great. That's the first time that I've run a step in five weeks. Let's see how things are in a day or so and if all is good then on Monday I'll go back and do the same again. Fingers crossed.

![20130921-3501](/images/2013/20130921-3501.jpg)

After buying some food for dinner I sat down and caught up a little with my blog posts and also jumped on the bike for a little half hour spin down Ali'i Drive heading south - some lovely little beaches there that I'll be exploring over the coming weeks

As for this blog I'll try and keep it as up to date as possible going forwards. I don't guarantee an entry every day as I'm not sure I'll be able to keep up the interest (there is some interest in this right?) until the middle of October...
