---
layout: default
type: category
---
{% if page.category == 'all' %}
  {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'"  %}
{% else %}
  {% assign postsByYear = site.categories[page.category] | group_by_exp:"post", "post.date | date: '%Y'"  %}
{% endif %}

<div class="row">
  <div class="col">
    <main>
      <div class="row">

        <div class="col">
          <h1 class="h1 category-title">
            {% if page.category == 'all' %}
              All posts
            {% else %}
              All posts -&nbsp;{{ page.category | capitalize | replace: "-", " "}}
            {% endif %}
          </h1>

          {{ content }}

          {% for year in postsByYear %}
            <h2>{{ year.name }}</h2>

            <ul class="archive-month">
              {% assign postsByMonth = year.items  %}
              <ul>
                {% for post in postsByMonth %}
                <li>
                  <a href="{{ post.url | relative_url }}" class="post-link">
                      {{ post.title }}
                  </a>
                  -
                  {% if site.date_format_no_year %}
                    {{ post.date | date: site.date_format_no_year }}
                  {% else %}
                    {{ post.date | date: "%b %Y" }}
                  {% endif %}

                  {% include categories_badges.html %}
                </li>

                {% endfor %}
              </ul>
          </ul>
          {% endfor %}


        </div>
{% comment %}
        <div class="col-md-3">
          {% include side_content.html %}
        </div>
{% endcomment %}
      </div>
    </main>
  </div>
</div>
