---
layout: default
type: post
---

<div class="row">
  <div class="col">
    <main>
      <div class="row">
        <div class="col-md-9">
          {% include post.html post=page %}

          {% comment %}
          <div class="row">
            <div class="col">
              {% include disqus.html %}
            </div>
          </div>
          {% endcomment %}
        </div>
        <div class="col-md-3">
          {% include side_content.html %}
        </div>
      </div>
    </main>
  </div>
</div>
